
@font-face {
    font-family: 'Poppins';
    src: local('Poppins Regular'), local('../../font/Poppins-Regular'), url('../../font/Poppinsregular.woff2') format('woff2'), url('../../font/Poppinsregular.woff') format('woff'), url('Poppinsregular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins';
    src: local('Poppins Bold'), local('../../font/Poppins-Bold'), url('../../font/Poppinsbold.woff2') format('woff2'), url('../../font/Poppinsbold.woff') format('woff'), url('Poppinsbold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}
@font-face {
	font-family: 'Open Sans';
	src: url('../../font/penSans-Regular.eot');
	src: local('Open Sans Regular'), local('OpenSans-Regular'),
		url('../../font/OpenSans-Regular.eot?#iefix') format('embedded-opentype'),
		url('../../font/OpenSans-Regular.woff') format('woff'),
		url('../../font/OpenSans-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}