.bar{
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-right: 1px solid $grey;
    font-weight: 400;
    font-size: 15px;
    position: relative;
    &.bar--without-border{
        border-right: none;
        & .bar__item{
            padding-left: 0px;
        }
    }
    &__button{
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 15px;
        font-weight: 700;  
    }
    &__arrow{
        padding: 0px 10px;
    }
    &__items{
        position: absolute;
        top: 25px;
        left: 0;
        background-color: #f9f9f9;
        width: 100%;
        min-width: 85px;
        list-style: none;
        opacity: 0;
        border-bottom-right-radius: 12px;
        border-bottom-left-radius: 12px;
        transition: .5s;
        z-index: 10;
        &.bar__items--open{
            opacity: 1;
        }
    }
    &__item{
        padding: 5px 5px 5px 17px;
        &:hover{
           background-color: #fff;
        }
    }
    &__link{
        color: $main;
        width: 100%;
        text-decoration: none;
    }
}
@include media-query (1050){
    .bar{
        font-size: 12px;
        flex-basis: 25%;
        &--withoutMargin{
            margin-bottom: 0;
        }
        &:nth-child(1){
            margin-bottom: 16px;
        }
        &--withoutMargin{
            margin-bottom: 0;
        }
        &:nth-child(2){
            margin-bottom: 16px;
        }
        &:nth-child(3){
            margin-bottom: 16px;
        }
        &:nth-child(4){
            margin-bottom: 16px;
        }
    }
    .bar.bar--withoutMargin{
        margin-bottom: 0;
    }
}
@include media-query (870){
    .bar{
        flex-basis: 33%;
    }
}
@include media-query (670){
    .bar{
        flex-basis: 50%;
        &:nth-child(5){
            margin-bottom: 16px;
        }
        &:nth-child(6){
            margin-bottom: 16px;
        }
    }
}
@include media-query (470){
    .bar{
        flex-basis: 100%;
        &:nth-child(7){
            margin-bottom: 16px;
        }
    }
}


