 .bascket{
     position: relative;
     margin-left: 10px;
     & svg{
         @include box (24px,24px)
     }
     &__products{
         position: absolute;
         bottom: -5px;
         left: -5px;
         width: 20px;
         height: 20px;
         border-radius: 50%;
         display: flex;
         justify-content: center;
         align-items: center;
         background-color: #E5704B;
         color: #fff;
     }
 }