.button{
    font-size: 15px;
    font-weight: 700;
    border-radius: 12px;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 13px 16px;
    cursor: pointer;
    &--withMargin{
        margin-bottom: 8px;
    }
    &--grey{
        height: 48px;
        background-color: #f9f9f9;
    }
    &--green{
        background-color: $main;
        color: #fff;
        border: 2px solid $mainFocus;
    }
    &--greenBorder{
        border: 2px solid $main;
        background-color: inherit;
    }
    &--withoutBgc{
        background-color: inherit;
    }
    &__text{
        margin-right: 10px;
        &--withoutMargin{
            margin-right: 0;
        }
    }
    &__arrow{
        background-color: inherit;
        &--withMargin{
            margin-right: 8px;
        }
    }
}
@include media-query (825){
    .button{
        font-size: 12px;
    }
}