.card{
    padding: 16px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    border: 2px solid $grey;
    border-radius: 12px;
    margin-right: 10px;
    &--medium{
        max-width: 270px;
    }
    &--withoutMargin{
        margin-bottom: 0;
    }
    &--row{
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    &--withoutPadding{
        padding: 0;
        
    }
    &--withoutBorder{
        border: none; 
    }
    &__info{
        position: absolute;
        bottom: 24px;
        left: 24px;
        &--pr{
            position: relative;
            bottom: 0;
            left: 0;
        }
        &--mr{
            margin-right: 24px;
        }
    }
    &__description{
        color: #fff;
        font-weight: 700;
        font-size: 22px;
        margin-bottom: 8px;
    }
    &__author{
        display: flex;
        justify-content: flex-start;
        align-items: center;
        font-family: 'Open Sans', sans-serif;
        font-weight: 400;
        font-size: 12px;
        color: #d1d1d1;
    }
    &__photo{
        margin-right: 10px;
    }
    &__name{
        margin-right: 10px;
    }
    &__date{
        margin-right: 10px;
    }
    &__title{
        margin-bottom: 8px;
    }
    &__subtitle{
        margin-bottom: 16px;
        font-family: 'Open Sans',sans-serif;
        font-weight: 400;
        font-size: 12px;
        color: #575757;
    }
    &__purchase{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__price{
        font-weight: 700;
        font-size: 18px;
        color: #000;
        text-transform: uppercase;
    }
    &__oldPrice{
        color: #a9a9a9;
        text-decoration: line-through;
        font-size: 12px;
    }
    &__img{
        position: relative;
        
    }
    &__img img{
        width: 100%;
    }
    &__discount{
        position: absolute;
        top: 12px;
        left: 12px;
    }
    &__discount--further{
        top: 24px;
        left: 24px;
    }
    &__discount--pr{
        position: relative;
        top: 0;
        left: 0;
        margin: 24px 0px;
    }
        
}
@include media-query (1000){
    .card{
        &--row{
            max-width: 369px;
        }
    }
}
@include media-query (660){
    .card{
        margin-bottom: 16px;
    }
}