.card{
    padding: 16px;
    border: 2px solid $grey;
    border-radius: 12px;
    margin-right: 10px;
    &--bigger{
        width: 100%;
        margin-bottom: 32px;
    }
    &--medium{
        max-width: 270px;
    }
    &--withoutMargin{
        margin-bottom: 0;
    }
    &--row{
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    &--withoutPadding{
        padding: 0;
        
    }
    &--withoutBorder{
        border: none; 
    }
    &__wrapper{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        &--row{
            flex-direction: row;
            justify-content: flex-start;
            align-items: center;
        }
    }
    &__info{
        position: absolute;
        bottom: 24px;
        left: 24px;
        &--pr{
            position: relative;
            bottom: 0;
            left: 0;
        }
        &--mr{
            margin-right: 24px;
        }
    }
    &__description{
        color: #fff;
        font-weight: 700;
        font-size: 22px;
        margin-bottom: 8px;
    }
    &__author{
        display: flex;
        justify-content: flex-start;
        align-items: center;
        font-family: 'Open Sans', sans-serif;
        font-weight: 400;
        font-size: 12px;
        color: #d1d1d1;
    }
    &__photo{
        margin-right: 10px;
    }
    &__name{
        margin-right: 10px;
    }
    &__date{
        margin-right: 10px;
    }
    &__title{
        margin-bottom: 8px;
    }
    &__subtitle{
        margin-bottom: 16px;
        font-family: 'Open Sans',sans-serif;
        font-weight: 400;
        font-size: 12px;
        color: #575757;
    }
    &__purchase{
        display: flex;
        justify-content: space-between;
        align-items: center;
        &--withMargin{
            margin-bottom: 16px;
        }
    }
    &__price{
        font-weight: 700;
        font-size: 18px;
        color: #000;
        text-transform: uppercase;
    }
    &__oldPrice{
        color: #a9a9a9;
        text-decoration: line-through;
        font-size: 12px;
    }
    &__img{
        position: relative; 
        flex-basis: 31%;  
    }
    &__img img{
        width: 100%;
        display: flex;
        border-radius: 12px;
    }
    &__discount{
        position: absolute;
        top: 12px;
        left: 12px;
    }
    &__discount--further{
        top: 24px;
        left: 24px;
    }
    &__discount--pr{
        position: relative;
        top: 0;
        left: 0;
        margin: 24px 0px;
    }
    &__stars{
        list-style: none;
        display: flex;
        justify-content: space-between;
        align-items: center;
        max-width: 108px;
        &--withMargin{
            margin-bottom: 25px;
        }
    }
    &__about{
        display: flex;
        align-items: space-between;
        justify-content: flex-start;
        &-item{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: space-between;
            color: #a9a9a9;
            font-family: "Open Sans", sans-serif;
            font-size: 14px;
            font-weight: 400;
            margin-right: 16px;
        }
        
    }
    &__point {
        margin-bottom: 8px;
    }
    &__information {
        margin-bottom: 8px;
    }
    &__information span{
        color: $main;
    }
    &__shipping{
        font-size: 12px;
        font-weight: 700;
        color: $grey;
    }
    &__delivery{
        font-size: 12px;
        font-weight: 400;
        color: $grey;
        margin-bottom: 26px;
    }
    &__kin{
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        width: 100%;
        padding: 32px;
    }
    &__container{
        flex-basis: 68%;
        
    }
    &__star img{
        @include box (20px, 20px);
    }
        
}
@include media-query (1000){
    .card{
        &--row{
            max-width: 369px;
        }
        &__img{
            flex-basis: 24%;
        }
        &__container{
            flex-basis: 75%;
        }
    }
}
@include media-query (780){
    .card{
        &--bigger{
            width: inherit;
            padding: 16px;
        }
        &__kin{
            display: block;
            padding: 0;
        }
    }
}
@include media-query (660){
    .card{
        margin-bottom: 16px;
    }
}