.categories{
    background-color: #f9f9f9;
    padding: 16px 0px;
    z-index: 99;
    &__wrapper{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}
@include media-query (1050){
    .categories{
        &__wrapper{
            flex-wrap: wrap;
        }
        

    }
}