.contacts{
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    position: relative;
    
}
@include media-query (680){
    .contacts{
        display: none;
        &--open{
            display: block;
            position: absolute;
            top: 40px; 
            left: 0;
        }
    }

}