.menu{
    &__wrapper{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
    }
    &__title{
        margin-bottom: 16px;
    }
    &__nav{
        margin-bottom: 40px;
        list-style: none;
    }
    &__item{
        margin-bottom: 12px;
        opacity: 1;
        transition: 1s;
        &--hide{
            display: none;
            opacity: 0;
        }
    }
    &__link{
        font-family: 'Poppins', sans-serif;
        font-weight: 400;
        font-size: 14px;
        color: $main;
        &--tdn{
            text-decoration: none;
        }
    }

}
@include media-query(825){
    .menu{
        flex-basis: 49%;
        &__wrapper--row{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            flex-wrap: wrap;
        }
    }
    .menu__wrapper--row{
        & .menu__nav{
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 0;
            margin-right: 16px;
            flex-wrap: wrap;
        }
        & .menu__title{
            margin-right: 16px;
        }
        & .menu__item{
            margin-right: 10px;
        }
    }
}