.section{
    padding: 64px 0px;
    &--withoutPaddingBottom{
        padding-bottom: 0;
    }
    &__wrapper{
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        
    }
    &__header{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 38px;
    }
    &__title{
        margin-bottom: 32px;
        &--withoutMargin{
            margin-bottom: 0;
        }
    }
    &__menu{
        flex-basis: 20%;
    }
    &__articles{
        flex-basis: 79%;
        display: flex;
        justify-content: space-between;
        align-items: center;

    }
    &__card{
        flex-basis: 79%;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        &--bigger{
            flex-basis: 100%;
            width: 100%;
        }
    }
}
@include media-query(825){
    .section{
        &__wrapper{
            display: block;
            &--wrap{
                display: flex;
                flex-wrap: wrap;
            }
        }
        &__menu{
            margin-bottom: 16px;
        }
    }
}
@include media-query(660){
    .section{
        padding: 32px 0px;
        &__card .card:last-child{
            display: none;
        }
        &__card .article:last-child{
            display: none;
        }
        &__card{
            flex-wrap: wrap;
        }
    }
}