.slider{
    position: relative;
    
    &__item{
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        width: 100%;
        max-width: 369px;
    }
    &__info{
        border: 1px solid #d1d1d1;
        padding: 24px 32px;
    }
    &__review{
        font-size: 15px;
        font-weight: 400;
        
        margin-bottom: 24px;
    }
    &__name{
        font-size: 12px;
        font-weight: 400;
        color: #a9a9a9;
        margin-bottom: 8px;
    }
    &__img{
        position: absolute;
        bottom: -29px;
        left: 50%;
        transform: translate(-50%, 0);
    }
}